
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body {
    background-color:  #f5f5f5;
    padding-bottom: 40px;
}

.post-content {
    color: white;
    bottom:0;
    left:10;
    position: absolute;
}

.thumbnail{
    position:relative;

}

#headerIcon {
    width:100%;
    height: auto;
    border-radius: 2px;
}

#headerImage {
    width:100%;
    height: auto;
}

#title {
    text-align: center;
}

#column {
    padding-top: 20px;
}

#saveIce {
    padding: 10px 35px;
    overflow: hidden;
}

#saveIce:before {
    font-family: FontAwesome;
	content:"\f0c7";
	position: absolute;
	top: 473px;
	left: -30px;
	transition: all 200ms ease;
}

#saveIce:hover:before {
	left: 30px;
}

.carousel-indicators li { visibility: hidden; }

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    border-radius: 5px;   
    background: lightblue;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: solid rgba(70, 88, 100, 0.418);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgba(70, 88, 100, 0.418);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:  rgba(70, 88, 100, 0.418);
    cursor: pointer;
}

/* CSS Daten für den Loginscreen */

